{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="page narrow">
        <h1>{{ title }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.sku) }}
            {{ form_row(form.description) }}
            {{ form_row(form.price) }}
            {{ form_row(form.isDraft) }}
            <button class="button">Save</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
